body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

h1.title {
    font-size: 30px;
    font-weight: bold;
}

h1 {
    font-family: 'Segoe UI';
    font-size: 23px;
    font-weight: normal;
}

h2 {
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: 400;
}
